<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayyash.recfonenum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Enum Calorie Diary "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ayyash.recfonenum.frekuensi.FrekuensiBulanan" />
        <activity android:name="com.ayyash.recfonenum.selinganpagi.SelinganPagiActivity" />
        <activity android:name="com.ayyash.recfonenum.makansiang.MakanSiangActivity" />
        <activity android:name="com.ayyash.recfonenum.selingansiang.SelinganSiangActivity" />
        <activity android:name="com.ayyash.recfonenum.makanmalam.MakanMalamActivity" />
        <activity android:name="com.ayyash.recfonenum.selinganmalam.SelinganMalamActivity" />
        <activity android:name="com.ayyash.recfonenum.selinganpagi.PerhitunganSelinganPagi" />
        <activity android:name="com.ayyash.recfonenum.makansiang.PerhitunganMakanSiang" />
        <activity android:name="com.ayyash.recfonenum.selingansiang.PerhitunganSelinganSiang" />
        <activity android:name="com.ayyash.recfonenum.makanmalam.PerhitunganMakanMalam" />
        <activity android:name="com.ayyash.recfonenum.selinganmalam.PerhitunganSelinganMalam" />
        <activity android:name="com.ayyash.recfonenum.profile.ProfileUser" />

        <activity android:name="com.ayyash.recfonenum.aktifitas.AktifitasFisik" />
        <activity android:name="com.ayyash.recfonenum.frekuensi.FormFrekuensiMakan" />
        <activity
            android:name="com.ayyash.recfonenum.aktifitas.FormAktifitas"/>
        <activity
            android:name="com.ayyash.recfonenum.selinganpagi.KonfirmasiSelinganSarapan"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.ayyash.recfonenum.makansiang.KonfirmasiMakanSiang"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.ayyash.recfonenum.selingansiang.KonfirmasiSelinganSiang"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.ayyash.recfonenum.makanmalam.KonfirmasiMakanMalam"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.ayyash.recfonenum.selinganmalam.KonfirmasiSelinganMalam"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name="com.ayyash.recfonenum.aktifitas.MenuAktifitas" />
        <activity android:name="com.ayyash.recfonenum.aktifitas.AktifitasSedentari" />
        <activity
            android:name="com.ayyash.recfonenum.aktifitas.FormAktifitasSedentari" />
    </application>

</manifest>